html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-image: url('../img/background.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
	max-width: 100vw;
}

* {
	box-sizing: border-box;
}

.logo {
	padding: 16px;
}
	.logo img {
		height: 84px;
	}

.center {
	text-align: center;
}

.box {
	margin-top: calc(20vh - 137px);
	width: 100%;
	max-width: 820px;
}

.phrase {
	margin-top: 16px;
	color: #fff;
	font-size: 2em;
}

.wrapper {
	height: 95vh;
}

section {
	background-color: #fff;
	border-radius: 4px;
	font-size: 1.2em;
	padding: 32px;
	margin: 0 auto 32px;
	width: 90vw;
}

	section.full-width {
		margin: 0 0 32px;
		width: 100%;
	}

	section h3 {
		font-size: 1.7em;
		padding-bottom: 8px;
		margin: 0;
	}

@media (max-width: 750px) {
	.box {
		margin-top: calc(30vh - 137px);
		width: 100%;
		max-width: 580px;
	}
}
